.App {
  text-align: center;
}
/* Header */
.header {
  text-align: center;

}


/* Tasks */
.all-tasks {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
  max-width: 700px;
}

.incomplete-tasks, .complete-tasks {
  flex: 1 1 auto;
}

.task-list {
  list-style-type: none;
  padding-inline-start: 0;
}
